.page-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: #f8f9ff;
  background-image: radial-gradient(var(--color-primary) 1px, transparent 1px),
    radial-gradient(var(--color-secondary) 1px, transparent 1px);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}
