.article-ion-header {
  --background: rgba(255, 255, 255, 0);
  --ion-toolbar-background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(0px);
  border-bottom: 1px solid rgba(var(--color-primary-rgb), 0);
  transition-duration: 0.4s;
}

.article-ion-header.translucent {
  --background: rgba(255, 255, 255, 0.9);
  --ion-toolbar-background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(var(--color-primary-rgb), 0.1);
  transition-duration: 0.4s;
}

.header-title {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
  position: absolute;
  top: 30%;
  left: 56px;
  right: 16px;
}

.header-title.visible {
  opacity: 1;
  transform: translateY(0);
}

.header-title h1 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
