.feed-card {
  margin: 16px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(49, 48, 68, 0.15);
  overflow: hidden;
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}

.feed-card ion-card-header {
  padding: 25px;
}

.feed-card ion-card-header h2 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-dark-primary);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.feed-card ion-card-header p {
  margin: 4px 0 0 0;
  font-size: 14px;
  color: var(--color-dark-secondary-lighter);
}

.feed-card .card-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  border-radius: 16px;
  margin-bottom: 15px;
}

.feed-card .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feed-card .card-image .feed-card-header-details {
  position: absolute;
  width: 100%;
  padding-top: 10px;
  padding-inline: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feed-card ion-card-content {
  padding: 16px;
  color: var(--color-dark-primary);
}

.feed-card ion-card-content p {
  margin: 0;
  line-height: 1.5;
}
